@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:200,800&display=swap");
html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.048)),
    url(./img/photo-of-dog-on-bed-2608011.jpg) center/cover no-repeat fixed;
  font-family: "Raleway", sans-serif;
  color: white;
}

#title-content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 2px 5px black, 0px 8px 15px rgba(0, 0, 0, 0.534);
}

.navbar-default {
  background: none;
  border: none;
}

.content {
  padding-top: 25%;
  width: 50%;
}

h1,
.h1 {
  font-size: 8rem;
}

.active {
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2d3747;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: rgb(191, 201, 221);
}

h1,
.navbar-brand {
  font-weight: 800;
}

h2 {
  font-weight: 200;
  text-transform: capitalize;
  font-size: 3rem;
}
hr {
  width: 50%;
}
